<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Post通信での確認</title>
</head>
<body>
<form action="/confirm" method="post" th:object="${inquiryForm}">
  <div class="field">
    <label for="name">お名前</label><span class="tag">必須</span><br/>
    <input type="text" id="name" name="name">
    <div th:if="${inquiryForm}">
    	<p th:errors="*{name}" class="error-message"></p>
    </div>
    
  </div>
  <div class="field">
    <label for="email">メールアドレス</label><span class="tag">必須</span><br/>
    <input type="text" id="email" name="email">
  </div>
  <div class="field">
    <label for="contents">お問い合わせ内容</label><span class="tag">必須</span><br/>
    <textarea id="contents" name="contents" cols="30" rows="10"></textarea>
  </div>
  <input type="submit" value="確認ページへ">
</form>
	
</body>
</html>